<div class="forgot-container">
  <div class="forgot-box">
   <img src="https://agency.entasher.com/Images/actualsize/2024/5/Logo_847363b7554a46b48559c222f4f9053c.png" alt="Logo" class="logo" />

    <h2>Forgot Password</h2>
    <p>Enter your email address or phone number to receive password reset instructions.</p>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <label for="email">Email or Phone</label>
      <input 
        id="email"
        type="text"
        formControlName="email"
        placeholder="your.email@example.com or +1234567890"
      />

      <div class="error" *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
        Please enter a valid email.
      </div>

      <button type="submit" class="btn reset-btn" [disabled]="isLoading">
        {{ isLoading ? 'Sending...' : 'Send Reset Instructions' }}
      </button>
    </form>

    <div class="success" *ngIf="successMsg">{{ successMsg }}</div>
    <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>

    <p class="back-text">
      <a (click)="goToLogin()">Back to Login</a>
    </p>
  </div>
</div>
